.clubCard {
  width: 100%;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
  height: auto;
  align-self: stretch;
  border-radius: 20px;
  background: #fff;

  .info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    .info__text {
      display: flex;
      flex-direction: column;
      .name {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
      }
      .freeSlots {
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
  }
  .trainerCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    .trainer {
      display: flex;
      align-items: flex-start;
      width: 100%;
      gap: 8px;
      .trainerInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        flex-wrap: wrap;
        .row {
          display: flex;
          align-items: center;
          gap: 4px;

          .category {
            display: flex;
            padding: 4px 12px;
            justify-content: center;
            align-items: center;
            color: #000;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 10px;
            background: #e6f36c;
          }
          .h4 {
            color: #000;
            font-size: 16px;
            font-style: normal;

            font-weight: 600;
            line-height: 16px;

            &:first-letter {
              text-transform: uppercase;
            }
          }
        }
        .p {
          color: #000;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          text-wrap: wrap;
          &:first-letter {
            max-width: 100%;
            text-transform: uppercase;
          }
        }
      }
      .avatar {
        width: 48px;
        height: 48px;
        min-width: 48px;
        min-height: 48px;
        display: flex;
        border-radius: 16px;
        border: 2px solid #fff;
        background: #bad6b1;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .tags {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 8px;
      width: 100%;

      .tag {
        display: flex;
        padding: 8px 12px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        border-radius: 16px;
        background: #f9f9f9;
        color: #000;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 135%;
        transition: all 0.2s;
        &:hover {
          filter: brightness(95%);
        }
      }
    }
  }
}
